<strong>Olá, {{ student }}</strong>
<p>Seja Bem-Vindo ao GymPoint!</p>
<small>
    Sua matrícula foi realizada com sucesso, confira:
  </small>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de início: </strong> {{ start }} <br />
  <strong>Data de término: </strong> {{ end }} <br />
  <strong>Valor: R$</strong> {{ price }},00
</p>
